h1{color: blue;
background-color: yellow;
font-size: 150%;
font-family: 'Courier New', Courier, monospace;
}

body{background-color: blanchedalmond;}


h2{color: purple;
    background-color: pink;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    }